* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(220, 244, 252)
}
.wrapper {
    display: flex;
    margin-left: 150px;
    width: 450px;
    position: relative;
    color: lightslategrey;
    text-align: left;
    height: 40px;
    font-family: Arial,sans-serif;
    font-weight: bolder;
}

#check-menu {
    display: none;
}

label {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
}

.falcon-icon {
    position: absolute;
    top: 0px;
    left: 70px;
    width: 140px;
    color: rgb(33, 150, 228);
    font-size: 2em;
}

.burger-line {
    position: absolute;
    top: 8px;
    left: 10px;
    width: 30px;
    height: 2px;
    background-color: black;
    color: black;
}

.second-line {
    top: 16px;

}

.third-line {
    top: 24px;
}

.main-menu {
    position: absolute;
    width: 700px;
    display: block;
    bottom: 0px;
    left: 0px;
    transform: translateY(100%);
    max-height: 0px;
    font-size: 0px;
    overflow: hidden;
    transition: 0.5s linear;
}

.main-menu a {
    display: block;
    width: 400px;
    padding: 10px;
    color: dimgrey;
    text-decoration: none;
}

.main-menu a img {
    margin-right: 10px;
}

.purchase {
    background-color: rgb(33, 150, 228);
    border-radius: 10px;
    width: 50%;
    color: white;
    height: 40px;
    font-family: Roboto,helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
}

#check-menu:checked ~ .main-menu {
    max-height: 1000px;
    font-size: 16px;
}

.flexbox {
    display: flex;
    width: 100%;
}

.container1 {
    margin-top: 12px;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 30%;
}

.container2 {
    padding-left: 150px;
    position: relative;
    width: 60%;
    margin-top: 12px;
    flex-direction: row;
    flex-wrap: wrap;
}

.container2 input {
    width: 300px;
    height: 40px;
    margin-top: 8px;
    padding-left: 40px;
    border: solid 1px rgb(33, 150, 228);
    border-radius: 15px;
    display: inline;
    font-family: Roboto,helvetica,Arial,sans-serif;
    font-size: 16px;
}

.container2 img {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: 18px;
    margin-left: 10px;
}

.container3 {
    display: flex;
    width: 100%;
    padding-left: 35%;
    margin-top: 12px;
    flex-direction: row;
    flex-wrap: wrap;
}

.container4 {
    background-color: rgb(33, 150, 228);
}

.container4, 
.container5 {
    position: relative;
    margin-left: 25%;
    margin-top: 12px;
    display: flex;
    width: 1200px;
    background-color: rgb(33, 150, 228);
    border: 1px rgb(220, 244, 252) solid;
    border-radius: 10px;
}

.container5 {
    background-color: white;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: rgb(66, 65, 65);
}

.container5 a {
    color: rgb(33, 150, 228);
    text-decoration: none;
}

.container5 a:hover {
    text-decoration: underline;
}

.container5-bold {
    font-weight: bold;
}

.container6 {
    position: relative;
    margin-left: 25%;
    margin-top: 12px;
    display: flex;
    width: 1200px;
}

.container6-first,
.container6-second,
.container6-third {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    height: 130px;
    padding: 15px 10px;
    width: 400px;
    border: 1px solid rgb(220, 244, 252);
    border-radius: 10px;
    box-shadow: 0px 3px 7px -5px;
}

.container6-first {
    background: white url(../images/pink.png) no-repeat;
    background-position-x: 100%;
}

.container6-second {
    margin-left: 20px;
    background: white url(../images/blue.png) no-repeat;
    background-position-x: 100%;
}

.container6-third {
    margin-left: 20px;
    background: white url(../images/green.png) no-repeat;
    background-position-x: 100%;
}

.container6-category {
    color: #344050;
    font-weight: 500;
}

.first-border,
.second-border,
.third-border {
    font-size: 0.7em;
    border-radius: 30%;
    margin: 2px;
    padding: 2px;
    font-weight: bolder;
}

.first-border {
    color: #c46632;
    background-color: #fde6d8;
    border: 1px solid #fde6d8;
}

.second-border {
    color: #1978a2;
    background-color: #d4f2ff;
    border: 1px solid #d4f2ff;
}

.third-border {
    color: #00864e;
    background-color: #ccf6e4;
    border: 1px solid #ccf6e4;
}

.first-meaning,
.second-meaning,
.third-meaning {
    font-weight: 400;
    font-size: 2.1em;
}

.first-meaning {
    color: #f5803e;
}

.second-meaning {
    color: #27bcfd;
}

.third-meaning {
    color: #5E6E82;
}

.container6-link {
    text-decoration: none;
    color: #2c7be5;
    font-size: 0.8em;
    font-weight: bolder;
}

.container6-link:hover {
    color: #123c74;
    text-decoration: underline;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.animation, 
.shopping, 
.bell,
.pro {
    width: 50px;
}

.shopping {
    position: relative;
}

.animation img {
    animation: spin 2s linear 0s infinite;
    width: 40px;
    height: 40px;
}

.pro img {
    border: solid 1px white;
    border-radius: 100%;
}

.shopping img,
.bell img,
.pro img {
    width: 40px;
    height: 40px;
}

.shopping-note {
    height: 20px;
    width: 20px;
    text-align: center;
    position: absolute;
    right: 5px;
    top: -5px;
    color: white;
    background-color: lightsalmon;
    border: solid 1px lightsalmon;
    border-radius: 100px;
}

.version {
    background-color: rgb(187, 215, 233);
    color: rgb(10, 12, 126);
    font-size: 12px;
}

.schedule-header {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 20px;
    left: 10px;
    color: white;
}

.schedule-darktext {
    color: rgba(255, 255, 255, 0.647);
    font-weight: bolder;
    font-size: 0.9em;
}

.payments-field select {
    position: absolute;
    padding: 5px;
    top: 20px;
    right: 20px;
    height: 35px;
    background-color: white;
    border: solid 1px rgb(33, 150, 228);
    border-radius: 10px;
    font-family: "SFMono-Regular","Liberation Mono", "Courier New", monospace;
    font-weight: bold;
    font-size: 16px;
    color: rgb(66, 65, 65);
}
