:root {
    --white: #fff;
    --milky-color: #f0f0f0;
    --dark-orange: #ff5714b3;
    --light-grey: #ddd;
    --grey: #aaa;
    --orange: #ff5916;
    --dark-grey: #666;
    --dark: #333;
    --blue: #1e81bb;
}