@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap');
@import './../components/colors.css';

/************** GENERAL CSS ******************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #000;
}

body {
    background-color: var(--white);
    font-family: 'Montserrat', sans-serif;
}

form {
    width: 100%;
}

fieldset {
    border: none;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.primary-button {
    display: inline-block;
    margin: 0 15px;
    padding: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    background: var(--orange);
    border-radius: .8rem;
    color: var(--white);
    cursor: pointer;
    z-index: 1;
    transition: .5s;
    border: 1px solid transparent;
}

.primary-button:hover{
    color: var(--orange);
    background: var(--white);
    border: 1px solid var(--dark-grey);
}

.primary-button__margin-none {
    margin: 0;
}

.primary-button__width-wide {
    margin: 0;
    width: 100%;
}