html {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.15;
}

.flex-header,
.dark-container,
.light-container1,
.light-container2,
.light-container3,
.light-container4,
.light-container5,
.light-container6,
.light-container7 {
  display: flex;
  width: 100%;
  padding: 100px 0px;
  justify-content: space-evenly;
  flex-wrap: no-wrap;
}

.flex-header,
.light-container1,
.light-container3,
.light-container5,
.light-container7 {
  flex-direction: row;
}

.light-container2,
.light-container4,
.light-container6 {
  flex-direction: row-reverse;
}

.main-header img {
  display: inline;
  margin-right: 15px;
  width: 42px;
  height: 42px;
}

.main-header h1 {
  margin-top: 20px;
  font-family: 'Work Sans', sans-serif;
  font-size: 2.5em;
  margin-left: 100px;
}

.main-header p {
  font-weight: 200;
  letter-spacing: 1px;
  font-style: lighter;
  font-size: 1.5em;
  margin-left: 100px;
}

.header-picture img {
  margin-left: 0px;
}

.light-container1 img,
.light-container3 img,
.light-container5 img,
{
  margin-left: -200px;
}

.header-picture img,
.light-container1 img,
.light-container2 img,
.light-container3 img,
.light-container4 img,
.light-container5 img,
.code {
  border-style: solid;
  border-width: 0px;
  border-color: white;
  border-radius: 10px;
  box-shadow: 0 13px 27px -5px;
  transition: 0.5s;
}

.header-picture img:hover,
.light-container1 img:hover,
.light-container2 img:hover,
.light-container3 img:hover,
.light-container4 img:hover,
.light-container5 img:hover,
.code:hover {
  transform: scale(1.1);
}

.dark-container {
  align-items: center;
  background-color: #F4F7FC;
}

.dark-container,
.light-container1-content,
.light-container2-content,
.light-container3-content,
.light-container4-content,
.light-container5-content,
.light-container6-content,
.light-container7-content {
  flex-direction: column;
}

.dark-container h2 {
  font-size: 2.25em;
  font-family: 'Roboto', sans-serif;
  font-weight: 600px;
  margin: 0px;
  padding: 0px;
}

.dark-container p {
  text-align: center;
  white-space: pre-wrap;
}

.code {
  white-space: pre-wrap;
  font-size: 14px;
  font-family: "Liberation Mono", "Courier New", monospace;
  width: 600px;
  text-align: left;
  height: min-content;
  padding: 1em;
  margin: 2em;
}

.dark-container p,
.light-container1-content p,
.light-container2-content p,
.light-container3-content p,
.light-container4-content p,
.light-container5-content p,
.light-container6-content p,
.light-container7-content p {
  font-size: 17px;
  line-height: 1.6em;
  width: 600px;
  padding: 0em;
  margin: 1em 0px;
}

.dark-container a {
  background-color: white;
}

.dark-container a, 
.pictures-link {
  font-size: 17px;
}

.pictures-link {
  background-color: white;
  padding: 0px;
  margin: 0px;
}

.light-container1-content a,
.light-container2-content a,
.light-container3-content a,
.light-container4-content a,
.light-container5-content a,
.light-container6-content a,
.light-container7-content a {
  display: inline;
  padding-left: 10px;
  padding-right: 300px;
  font-size: 15,5px;
}

.dark-container a,
.light-container1 a,
.light-container2 a,
.light-container3 a,
.light-container4 a,
.light-container5 a,
.light-container6 a,
.light-container7 a {
  text-decoration: none;
  border-style: solid;
  border-width: 0px;
  border-color: white;
  border-radius: 10px;
  color: #386BF3;
  font-size: 14px;
  background-color: rgb(235, 237, 240);
  width: 600px;
  padding: 1em 0px;
  text-align: center;
}

.rules {
  background-color: rgb(235, 237, 240);
  border-style: solid;
  border-width: 0px;
  border-color: white;
  border-radius: 10px;
  padding: 5px;
  margin: 0px;
}

a:visited {
  color: #386BF3;
}

a:hover {
  color: grey;
}

.pictures-link a {
  background-color: white;
  padding: 0px;
  margin: 0px;
}

.digital-ocean:hover,
.digital-ocean p:hover,
.cloudflare p:hover,
.footer-content p>a:hover {
  color: rgb(211, 211, 211);
}

.digital-ocean img {
  width: 40px;
  height: 40px;
}

.digital-ocean a,
.cloudflare a {
  text-decoration: none;
  padding-top: 100px;
  color: white;
  margin-left: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.digital-ocean p,
.cloudflare p {
  margin-right: 50px;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
  font-style: inherit;
  font-size: 2.5em;
  line-height: 0;
  margin-top: 100px;
}

.cloudflare img {
  height: 40px;
  width: 90px;
}

.footer-sponsors {
  display: flex;
  width: 100%;
  background-color: black;
  color: white;
  padding: 0px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 100px 0px 0px 0px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: black;
  color: white;
  padding: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
}

.footer-content a {
  text-decoration: none;
  color: white;
}