body {
    background-color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    color: rgb(235, 139, 123);
    list-style: inside;
}

a {
    text-decoration: none;
    color: rgb(235, 139, 123);
}